.imageBackground4AuftragButton {
	background: white;
}

.customMRLSMCard {
	min-width: 200px;
	min-height: 200px;
	margin: auto;
}

.resizeImagesAsIcons {
	max-width: 50%;
	max-height: 50%;
}

.colOrder1 { width: 20%; }
.colOrder2 { width: 30%; }
.colOrder3 { width: 50%; }

.colOffer1 { max-width: 10%; }
.colOffer2 { width: 25%; }
.colOffer3 { width: 65%; }

.colItem1 { width: 60%; }
.colItem2 { width: 40%; }